$listaClases: (
    "normal": (white, black, 1px, "suave", false),
    "aviso": (orange, black, 2px, "fuerte", false),
    "correcto": (lightgreen, #660066, 3px, "normal", true)
);

$sombras: (
    "suave": 1px 1px 3px black,
    "fuerte": 6px 6px 12px black,
    "normal":  3px 3px 6px black
);

@each $index, $value in $listaClases {
    .#{$index} {
        margin: 10px;
        padding: 10px;
        color: nth($value, 2);
        background-color: nth($value, 1);
        border: nth($value, 3) solid black;
        box-shadow: map-get($sombras, nth($value, 4));
        @if (nth($value, 5)) {
            text-align: center;
        }
    }
}